@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --y: 0;
    --x: 0;
    text-rendering: optimizeLegibility;
  }
}

html {
  scroll-padding-top: 120px;
}

body {
  @apply bg-dark-blue;
  @apply font-Inter;
  @apply leading-relaxed;
  @apply antialiased;
  @apply font-normal;
  @apply text-slate-400;
  @apply selection:bg-primary/10;
  @apply selection:text-primary;
  @apply scroll-smooth;
}

a:hover {
  @apply text-primary;
}

a.active .nav-indicator {
  @apply bg-slate-200;
  @apply w-16;
}

a.active .nav-text {
  @apply text-slate-200;
}

.hero {
  background: radial-gradient(
    600px circle at var(--x) var(--y),
    rgba(29, 78, 216, 0.15),
    transparent 80%
  );
}

@media screen and (min-width: 1024px) {
  .hero {
    background: radial-gradient(
      600px at var(--x) var(--y),
      rgba(29, 78, 216, 0.15),
      transparent 80%
    );
  }
}

@media screen and (max-width: 1439px), screen and (max-height: 700px) {
  .avatar {
    display: none;
  }

  .title-page {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .avatar {
    display: block;
  }

  .title-page {
    margin-top: 1.5rem;
  }
}
